html {
  width: 100vw;
  padding: 1rem;
  overflow-x: hidden;
  /* height: 100vh; */
}

body {
  width: 100%;
}



.dataTables_filter, .dataTables_length{
  margin-block: 1rem;

}

/* cart blue cv */

/* espace 20€ */