<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href={{ url_for("static", filename='logo.png' ) }}
    type="image/x-icon">
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    /> -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/daisy.css')}}"
    />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script src="{{url_for('static', filename='js/tailcss.js')}}"></script>
    <script
      src="https://kit.fontawesome.com/7265835527.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"
    />

    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script> -->

    {%block head%}{%endblock%}
  </head>

  <body>
    <div class="drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />

      <div class="drawer-content flex flex-col items-center">
        <div class="navbar pt-4 bg-base-100">
          <div class="flex-none">
            <label
              id="toggle-menu"
              class="btn btn-circle swap swap-rotate"
              for="my-drawer"
            >
              <!-- this hidden checkbox controls the state -->
              <input id="rotate_menu" type="checkbox" />

              <!-- hamburger icon -->
              <svg
                class="swap-off fill-current"
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 512 512"
              >
                <path
                  d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
                />
              </svg>

              <!-- close icon -->
              <svg
                class="swap-on fill-current"
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 512 512"
              >
                <polygon
                  points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"
                />
              </svg>
            </label>
          </div>
          <div class="flex-1">
            <a
              href="{{url_for('dashbord')}}"
              class="btn btn-ghost normal-case text-xl"
              >Worlds Dwich 42</a
            >
            <div class="text-sm breadcrumbs">
              <ul id="breadcrumbs"></ul>
            </div>
          </div>

          <div class="flex gap-10">
            <div class="indicator">
              <span
                class="indicator-item badge badge-secondary"
                id="notification_indicator"
              ></span>
              <div class="dropdown">
                <label id="notif_indicator" tabindex="0" class="btn h-fit"
                  ><i class="fa-solid fa-bell"></i
                ></label>
                <div
                  tabindex="0"
                  class="dropdown-content card card-compact w-80 p-2 shadow bg-primary text-primary-content"
                >
                  <div class="card-body">
                    <h3 class="card-title">Notifications</h3>
                    <span
                      class="flex flex-col gap-4 max-h-[250px] w-fit overflow-y-auto"
                      id="notification_area"
                    >
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <label class="swap swap-rotate h-fit">
              <input id="theme-toggle" type="checkbox" />

              <svg
                id="moon"
                class="swap-on fill-current w-6 h-6"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <path
                  d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"
                />
              </svg>
              <svg
                id="sun"
                class="swap-off fill-current w-6 h-6"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <path
                  d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"
                />
              </svg>
            </label>

            <a class="mx-4" href="{{url_for('logout')}}"
              ><i class="fa-solid fa-right-from-bracket mx-2"></i> Se
              déconnecter</a
            >
          </div>
        </div>
        {%block body%} {%endblock%}
      </div>
      <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
          <!-- Sidebar content here -->
          <li><a href="{{url_for('showCatgeories')}}">Menus</a></li>
          <li><a href="{{url_for('supplement')}}">Supplément</a></li>
          <li><a href="{{url_for('orders')}}">Ordres</a></li>
          <li><a href="{{url_for('clients')}}">Clientes</a></li>
          <div class="divider"></div>

          {%for el in data%}
          <li>
            <a href="/category/{{el.id}}"
              ><img
                class="w-[20px]"
                src="{{url_for('static', filename='icons/'+el.icon_url)}}"
                alt="{{el.name}}"
              />{{el.name}}</a
            >
          </li>

          {%endfor%}
        </ul>
      </div>
    </div>

    <div class="modal" id="my-modal-2">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Voulez-vous vraiment supprimer!</h3>

        <div class="modal-action">
          <span id="del_id_tagret"> </span>
          <a href="#" class="btn">Non</a>
        </div>
      </div>
    </div>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script defer src="{{url_for('static',filename='js/index.js' )}}"></script>
  <script
    defer
    src="{{url_for('static', filename='js/multipleInput.js')}}"
  ></script>
  <script>
    $(document).ready(function () {
      $("#orders-table").DataTable({
        searching: true,
        paging: true,
        order: false,
      });
    });
  </script>
  <script src="{{url_for('static', filename='js/supp.js')}}"></script>
  <script
    defer
    src="{{url_for('static', filename='js/notification.js')}}"
  ></script>
  <script
    defer
    src="{{url_for('static', filename='js/breadcrumbs.js')}}"
  ></script>
  <script>
    console.clear();
  </script>
</html>
