{%extends 'base.html'%} {%block body%}

<div class="overflow-x-auto w-full">
  <table class="table w-full">
    <!-- head -->
    <thead>
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <th>category</th>
        <th>icon</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      {%for el in data%}
      <!-- <span>{{el.id}}</span> -->
      <!-- <span>{{el.name}}</span> -->
      <!-- <img src={{el.img_url}} alt="qsdq"/> -->
      <!-- <img src={{el.icon_url}} alt="qsdq"/> -->
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <td>
          <div class="flex items-center space-x-3">
            <div class="w-12 h-12">
              <img src="{{el.img_url}}" alt={{el.name}} />
            </div>
            <div class="font-bold">{{el.name}}</div>
          </div>
        </td>
        <td>
          <div class="w-12 h-12">
            <img src="{{el.icon_url}}" alt={{el.name}} />
          </div>
        </td>
        <th>
            <button class="btn btn-xs btn-outline btn-success"><i class="fa-solid fa-pen-to-square mx-2"></i>Éditer</button>

            <button class="btn btn-xs btn-outline btn-error"><i class="fa-solid fa-trash mx-2"></i>Retirer</button>

        </th>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

{%endblock%}
