{% extends 'base.html'%} {%block head%}

<title>Admin panel</title>

{%endblock%} 

{%block body%}
<form
          class="md:w-1/3"
          id="category"
          action="/add_category"
          method="POST"
          enctype="multipart/form-data"
        >
          <fieldset class="flex flex-col gap-4">
            <legend>Ajouter une catégorie</legend>
            <div class="form-control">
              <label class="input-group input-group-vertical">
                <span
                  ><i class="fa-solid fa-sitemap mx-2"></i>catégorie nom</span
                >
                <input
                  type="text"
                  placeholder="ex : burger"
                  class="input input-bordered"
                  id="name"
                  name="name"
                />
              </label>
            </div>
            <div class="form-control">
              <label class="input-group input-group-vertical">
                <span><i class="fa-solid fa-image mx-2"></i> Image</span>
                <input
                  type="file"
                  name="image"
                  id="image"
                  class="input input-bordered p-2"
                />
              </label>
            </div>
            <div class="form-control">
              <label class="input-group input-group-vertical">
                <span><i class="fa-solid fa-icons mx-2"></i>icon</span>
                <input
                  type="file"
                  name="icon"
                  id="icon"
                  class="input input-bordered p-2"
                />
              </label>
            </div>
            <button class="btn btn-success self-end">Ajouter</button>
          </fieldset>
        </form>
{%endblock%}
